*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Mono', monospace;
}
header{
        background-color: rgb(100, 149,237);
        
}
nav{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;
        position: fixed;
               
}
a{
    text-decoration: none;
}
nav li{
        list-style: none;
        display: inline;
}
.nav-list{
            display: flex;
            line-height: 2rem;
            align-items: center;
            gap: 4rem;
}
.nav-list ul{
                display: flex;
                gap: 4rem;
}

.nav-list img{
             max-width: 100px;
}
.nav-list-2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 2rem;
            padding: 1em;
            gap: 4rem;

}
.nav-list-2 ul{
                display: flex;
                gap: 20px;
}
.bluebotton{
            color: white;
            background-color: rgb(0, 62, 255);
            max-width: max-content;
            padding: 1em;
            font-size: smaller;
}
.blue-box{
          display: flex;
          justify-content: center;
          position: relative;
          padding-top: 4rem;
          padding-bottom: 1em;
          
          
          
}
.header-container{
                    max-width: 1000px;
                    display: flex;
                    flex-wrap: nowrap;
                    padding: 2em;
                    gap: 2em;
                    flex-grow: 2;
                    display: flex;
                    flex-direction: column;
                    
} 
.header-container h1{
                     font-weight: bolder;
                     font-size: 60px;
}
.blue-box img{
                    position: absolute;
                    max-width: 700px;
                    bottom: -60px;
                    right: 18rem;
} 
.paragraph-first{
                    max-width: 400px;
                    flex-direction: column;
                    display: flex;
                    flex-grow: 1;
                    gap: 2em;
                    font-size: 18px;
                    
} 
.paragraph-first i{
                    font-size: 40px;
}
main{
    
}             

